

<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/doctor.svg" alt="">
  <h3>Iniciar sesión </h3>
  <form autocomplete="off" (submit)="doLogin()">
    <ion-item>
      <ion-label position="stacked" > Correo electrónico </ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" > Contraseña </ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" type="submit" expand="block">Entrar</ion-button>
  </form>
  <ion-button class="ion-margin-top" type="submit" expand="block" routerLink="/registro">Registrarme</ion-button>

  <ion-grid >
    <ion-row class="icono">
      <ion-col size="3">
        <ion-button class="google" (click)="loginGoogle()">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>    

  <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>Olvidé mi Contraseña</small></a>
  </div>


</ion-content>