<ion-content class="ion-padding">
  <h1>Tengo COVID-19?</h1>
  <br>
  
  <h5>1. ¿Tiene fiebre mayor a 38° C? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>
  
  <h5>2. ¿Tiene tos seca y persistente?? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>3. ¿Tiene dolor de cabeza persistente? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>5.	¿Tiene Conjuntivitis (enrojecimiento, picazón, ardor en los ojos)?</h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>6.	¿Tiene pérdida del olfato o el gusto? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>7.	¿Tienes diarrea o malestar estomacal? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>8.	¿Tiene dolor de garganta? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>9.	¿Tiene malestar general y/o cansancio persistente? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>10.	¿Tiene cuerpo cortado o dolor muscular y/o de articulaciones? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button 
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>11.	¿Tiene dificultad para concentrarse o moverse? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>12.	¿Tiene sensación de falta de aire? (que no sea causado por alguna enfermedad crónica o previamente diagnosticada) </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>13.	¿Presenta alguna de estas condiciones: Mayor de 65 años, ¿enfermedad cardíaca, enfermedad respiratoria crónica, hipertensión arterial, diabetes, cáncer o cirrosis en mal control? Si están bien controlados con sus medicamentos elija NO. </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>14.	¿Ha estado de viaje o ha tenido contacto directo con una o más personas con diagnóstico probable o confirmado de COVID-19? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

  <h5>15.	¿Ha estado recientemente en un área infectada con COVID-19? </h5>
  
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >SI</ion-button>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col seze="10">
      <ion-button  
      expand="full"
      fill="clear"
      >NO</ion-button>  
    </ion-col>
  </ion-row>

</ion-content>










