<ion-content>
  <h5>Bienvenido a nuestra sección de recomendaciones </h5>
  <h4>Indiquenos el sintoma mas persistente actualmente</h4>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarNutri()">NUTRICION BASICA</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarFiebre()">FIEBRE</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarTos()">TOS SECA</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarCans()">CANSANCIO</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarDg()">DOLOR DE GARGANTA</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarDc()">DOLOR DE CABEZA</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarDpr()">DIFICULTAD PARA RESPIRAR</ion-button>

  <ion-button fill="clear" (click)="ngOnInit()" (click)="mostrarDpr()">¿COMO HACER EFECTIVO EL TRATAMIENTO?</ion-button>

  <div id="nutri">
    <h1>Tratamienos para los síntomas incluyen secreción nasal, fiebre, tos, dolor de cabeza y dolor de garganta.</h1>
    <h2>
      La ingesta de líquidos debe basarse en el peso, en promedio 40 kg-60 kg 1.5L2.0L, 60-80 kg 2.0L-2.5L, por encima
      de 80 kg 2.5L-3.0L o 30-35mL / kg con tolerancias para pérdidas adicionales a través de los desagües. <br>
      • Asegurar la ingesta de líquidos adecuados; al menos dos litros de agua por día o más si hay fiebre.<br>
      • La fiebre aumenta la necesidad de más calorías: aumente la cantidad de alimentos nutritivos al aumentar la
      cantidad de veces que come. La comida debe incluir una variedad de alimentos que incluyen alimentos ricos en
      energía, carne, leche, legumbres y legumbres, frutas y verduras.<br>
      • Considere la suplementación con vitamina C, zinc, vitamina A, B6, D, E, hierro, ácido fólico y fibra si no
      obtiene suficiente de la dieta.<br>
      • Asegúrese de dormir lo suficiente, reducir el estrés, hacer ejercicio, evitar la ingesta de alcohol y productos
      de tabaco.<br>
      • La tos puede aliviarse con miel, piña y sopa de pollo, hacer gárgaras y lavarse las manos.<br>
      • El dolor de garganta se puede aliviar tomando té, miel, jengibre, cúrcuma y salvia.<br>
      • Se recomienda el uso de hierbas culinarias como orégano, salvia y canela, así como un mayor consumo de frutas y
      verduras para mejorar los niveles de antioxidantes en el cuerpo.<br>
      • Limite la ingesta de carbohidratos refinados como azúcar, dulces, pasteles, refrescos y bebidas azucaradas.<br>
      • Limite la ingesta de alimentos que contengan grasas trans y grasas saturadas, p. grasa y piel de la carne,
      aceites vegetales hidrogenados, manteca, alimentos fritos, galletas y pasteles.

    </h2>
  </div>
  <div id="fiebre">
    <h1>Tratamienos relacionados a fiebre</h1>
    <h2>El agua fría siempre se ha empleado para bajar la fiebre. Es habitual que muchas personas colocan paños mojados
      con agua fría en la
      frente o la parte posterior del cuello. Pero también se puede mojar una esponja con agua fría y humedecer las
      áreas de las axilas, los pies, las manos y las ingles. Es un buen remedio cuando la fiebre es muy alta.
      <br>
      <h3>Medicamentos de venta libre</h3>
      El paracetamol (Tylenol) y el ibuprofeno (Advil, Motrin) ayudan a reducir la fiebre en niños y adultos.

      Tome paracetamol cada 4 a 6 horas.
      Tome ibuprofeno cada 6 a 8 horas. NO utilice ibuprofeno en los niños menores de 6 meses.
      Sepa cuánto pesan usted o su hijo antes de administrar estos medicamentos.
      El ácido acetilsalicílico (aspirin) funciona muy bien para tratar la fiebre en los adultos. NO le dé este
      medicamento a un niño a menos que su proveedor lo AUTORICE.
    </h2>
  </div>


  <div id="tos">
    <h1>Tratamienos relacionados con tos</h1>
    <h2>• Use miel y limón, agua tibia / fluidos. <br>
      • Continúe tomando los medicamentos recetados. <br>
      Determinar la causa de la tos crónica es crucial para lograr un tratamiento eficaz. En muchos casos, hay más de
      una afección de fondo que puede estar causando tu tos crónica.

      Si fumas en la actualidad, tu médico analizará contigo tu disposición para dejar de fumar y te ayudará a lograr
      esta meta. <br>

      Si estás tomando un medicamento inhibidor de la ECA, tu médico te puede cambiar a otro medicamento que no tenga a
      la tos como efecto secundario. <br>

      Los medicamentos utilizados para tratar la tos crónica pueden incluir: <br>

      Antihistamínicos, corticosteroides y descongestionantes. Estos medicamentos son el tratamiento estándar para las
      alergias y el goteo posnasal.
      Medicamentos inhalados para el asma. Los tratamientos más efectivos para la tos relacionada con el asma son los
      corticosteroides y los broncodilatadores, que reducen la inflamación y abren las vías respiratorias.
      Antibióticos. Si una infección bacteriana, micótica o micobacteriana está causando tu tos crónica, tu médico puede
      recetarte medicamentos para tratar la infección.
      Bloqueadores de ácido. Cuando los cambios en el estilo de vida no solucionan el reflujo ácido, puedes ser tratado
      con medicamentos que bloquean la producción de ácido. Algunas personas necesitan cirugía para resolver el
      problema.

    </h2>
  </div>

  <div id="cans">
    <h1>Tratamienos relacionados a cansancio</h1>
    <h2>xisten medicamentos y suplementos que pueden acabar con el cansancio o usarse como complemento en el tratamiento
      prescrito por el médico: <br>

      1. Rhodiola Rosea
      La Rhodiola Rosea es un extracto de una planta que se usa en medicamentos para la fatiga y el cansancio, que ayuda
      a disminuir los síntomas y a restablecer la condición mental y física de la persona, aumentando la capacidad de
      trabajo físico y mental. <br>

      Este medicamento no debe ser usado en personas alérgicas a los componentes, mujeres embarazadas, mujeres
      lactantes, niños menores de 12 años y personas con problemas cardíacos o que están en tratamientos por disturbios
      psiquiátricos. <br>

      2. Ginseng
      El extracto de Panax ginseng es indicado para el tratamiento de los síntomas asociados a fatiga física y/o mental
      y está presente en muchos suplementos, que también contiene vitaminas y minerales que son muy importantes para el
      buen funcionamiento del organismo y para combatir el cansancio. Medicamentos con ginseng en su composición son el
      Force, Pharmaton Complex y Biometrix, por ejemplo. <br>

      Estos medicamentos no deben ser usados en personas con alergia a los componentes, mujeres embarazadas, mujeres
      lactantes y niños menores de 18 años. Conozca otros beneficios del ginseng. <br>

      3. Vitaminas del complejo B
      Las vitaminas del complejo B tiene un papel muy importante en el organismo. Además de muchas de las funciones que
      desempeña también contribuyen a la producción de energía y participan en numerosas reacciones metabólicas en
      varios órganos, por eso la importancia de escoger un suplemento para el cansancio, que contenga en su composición
      vitaminas del complejo B. <br>

      Existe una gran variedad de marcas de suplementos que poseen estas vitaminas en su composición, algunas son:
      Bedoyecta, Neurobión, Pharmaton, Centrum, entre otros. <br>

      En la mayor parte de los casos, estos suplementos son bien tolerados, pero como generalmente están asociados a
      otros componentes, es importante confirmar las contraindicaciones en el prospecto o pedir ayuda al farmacéutico o
      médico, principalmente en el caso de mujeres embarazadas, mujeres lactantes y niños. <br>

      4. Melatonina
      La melatonina es una hormona producida naturalmente por el organismo, que posee como principal función la
      regulación y normalización del ciclo circadiano. Existen medicamentos que tienen está sustancia en su composición,
      como es el caso del Benedorm, Sub Z, Cronocaps y Revenox, por ejemplo, que ayudan a inducir y mejorar el sueño y
      como resultado ayudan a reducir el cansancio. Conozca cómo utilizar la melatonina. <br>

      5. Sulbutiamina
      La sulbutiamina es una sustancia presente en el medicamento Arcalion y está indicado para el tratamiento de la
      debilidad y el cansancio físico, psíquico e intelectual y en la rehabilitación de pacientes con placas de
      aterosclerosis. <br>

      Este medicamento está sujeto a prescripción médica y no debe ser usado por niños, mujeres embarazadas o lactantes,
      sin recomendación médica. <br>
    </h2>
  </div>

  <div id="dg">
    <h1>Tratamienos relacionados a dolor de garganta</h1>
    <h2>Aerosoles para calmar el dolor-- diclonina (Cepacol), fenol (Chloraseptic). <br>
      Analgésicos-- paracetamol (Tylenol), ibuprofeno (Advil, Motrin), naproxeno (Aleve). <br>
      Caramelos duros para recubrir la garganta-- chupar caramelos o pastillas para la garganta puede ser de mucho
      alivio. Tenga cuidado con los niños pequeños debido al riesgo de asfixia. <br>


    </h2>
  </div>

  <div id="dc">
    <h1>Tratamienos relacionados a dolor de cabeza</h1>
    <h2>Es probable que hayas experimentado los síntomas de dolor de garganta alguna o varias veces en tu vida. La
      picazón, la necesidad de rascarte y la sensación de ardor no es para nada agradable, especialmente si tienes otros
      síntomas de resfriado o un virus más grave. <br>

      Sin embargo, en la mayoría de los casos, puedes encontrar alivio sin tener que acudir inmediatamente a tu médico.
      Aquí te presentamos 10 maneras de sentirte mejor cuando se presenta un dolor de garganta: <br>

      •gárgaras con agua salada <br>
      •pastillas para chupar <br>
      •analgésicos de venta libre <br>
      •miel <br>
      •espray de equinácea/salvia <br>
      •hidratación <br>
      •humidificador <br>
      •ducha de vapor <br>
      •elevar tu cabeza <br>
      •antibióticos <br>
    </h2>
  </div>

  <div id="dpr">
    <h1>Tratamienos relacionados a Dificultad para respirar</h1>
    <h2>La hoja de eucalipto contiene sustancias químicas que podrían ayudar a controlar el azúcar en la sangre. También
      contiene sustancias químicas que podrían tener actividad contra bacterias y hongos. El aceite de eucalipto
      contiene sustancias químicas que podrían ayudar con el dolor y la inflamación. También podría bloquear las
      sustancias químicas que producen asma. <br>
      La dosis apropiada de eucalipto depende de muchos factores tales como la edad de la persona, el estado de salud y
      varias otras condiciones. En este momento no hay suficiente información científica para determinar un rango de
      dosis apropiado para el uso del eucalipto. Tenga en cuenta que los productos naturales no son siempre
      necesariamente seguros y las dosis pueden ser importantes. Asegúrese de seguir las instrucciones en las etiquetas
      de los productos y consulte con su farmacéutico, doctor u otro proveedor de salud médica antes de usarlos.
    </h2>
  </div>

</ion-content>